@font-face {
  font-family: "Rockwell";
  src: url("../fonts/ROCKB.TTF");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

/* HEADER */
header {
  position: relative;
  grid-area: header;
  background-color: rgb(21, 168, 158);
  height: 100%;
  display: grid;
  width: 100%;
  grid-template: auto / 1fr;
  grid-row: 1/2;
  justify-content: center;
  justify-self: center;
}

.headerTitle {
  color: rgba(255, 255, 255, 0.78);
  text-align: center;
  position: relative;
  font-size: 3rem;
  justify-content: center;
  justify-self: center;
}
/* HEADER */

/* MAIN */
main {
  position: relative;
  grid-area: main;
  grid-row: 2/3;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 1fr 3fr /1fr;
}

.show_weather {
  font-size: 3rem;
  justify-self: center;
  align-self: center;
}

.not {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 50px;
  justify-self: center;
  align-self: center;
}

#SearchForm {
  width: 100%;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(20, 1fr);
  grid-column-gap: 10px;
}

.btnSearch {
  grid-column: 13/16;
  grid-row: 3/7;
  border-radius: 10px;
  background-color: rgb(21, 168, 158);
  color: rgba(255, 255, 255, 0.78);
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.3rem;
  border: none;
  box-shadow: 6px 5px 20px 0px rgba(0, 0, 0, 0.16);
}
@media (max-width: 650px) {
  .btnSearch {
    font-size: 1rem;
  }
}
@media (max-width: 520px) {
  .btnSearch {
    font-size: 0.75rem;
  }
}

.fieldSearch {
  border-radius: 10px;
  grid-column: 6/13;
  grid-row: 3/7;
  box-shadow: 6px 5px 20px 0px rgba(0, 0, 0, 0.16);
}
.fieldSearch:active {
  border: none;
}

.fieldSearch::placeholder {
  color: gray;
  font-weight: bolder;
  text-align: center;
  font-size: 1rem;
}

.main_grid {
  display: grid;
}
/* .enableBlur {
  filter: opacity(68%) blur(20px);
}
.disableBlur {
  filter: opacity(100%) blur(0);
} */
.main_background {
  position: relative;
  width: 70%;
  height: 90%;
  border-radius: 74px;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.16);
  background-color: #15a89e;
  align-items: center;
  justify-items: center;
  justify-self: center;
  align-self: center;
  font-size: 16px;
  display: grid;
  grid-template: 1fr/1fr;
}
.inside_main_background {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template: repeat(20, 1fr) / repeat(20, 1fr);
}

.show_weather {
  position: absolute;
  width: 100%;
  height: 100%;
  background: lightyellow;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  grid-column: 3/19;
  grid-row: 3/14;
  border-radius: 50px;
  box-shadow: 6px 5px 20px 0px rgba(0, 0, 0, 0.16);
}

/* STATUS */
.show_weather .status {
  position: absolute;
  font-family: "Rockwell";
  font-size: 3rem;
  font-weight: bold;
  color: rgb(163, 212, 247);
  justify-self: center;
  grid-row: 2/5;
  -webkit-text-stroke: 1px rgb(112, 112, 112);
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}
/* STATUS */

/* TEMP */
.show_weather .temp {
  position: absolute;
  font-family: "Rockwell";
  font-size: 2rem;
  font-weight: bold;
  color: rgb(163, 212, 247);
  justify-self: center;
  grid-row: 6/8;
  -webkit-text-stroke: 1px rgb(112, 112, 112);
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

.show_weather span {
  /* position: absolute; */
  /* right: 10%; */
  font-family: "Rockwell";
  font-size: 1.8rem;
  color: rgb(163, 212, 247);
  justify-self: center;
  grid-row: 6/8;
  -webkit-text-stroke: 1px rgb(112, 112, 112);
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

.show_weather sup {
  /* position: absolute; */
  font-family: "Rockwell";
  font-size: 1rem;
  color: rgb(163, 212, 247);
  justify-self: center;
  grid-row: 6/8;
  -webkit-text-stroke: 1px rgb(112, 112, 112);
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}
/* TEMP */

/* DESCRIPTION */
.show_weather .description {
  position: absolute;
  font-family: "Rockwell";
  font-size: 1.6rem;
  font-weight: bold;
  color: rgb(163, 212, 247);
  justify-self: center;
  grid-row: 9/10;
  -webkit-text-stroke: 1px rgb(112, 112, 112);
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}
/* DESCRIPTION */

.city_name {
  grid-area: city_name;
  font-family: cursive;
  /* font-size: 4rem;
  font-weight: 800; */
  text-align: center;
}
/* MAIN */

/* FOOTER */
footer {
  position: relative;
  width: 100%;
  height: 100%;
  grid-area: footer;
  display: grid;
  grid-row: 3/4;
  bottom: 0px;
  background-color: rgb(21, 168, 158);
  grid-template: 1fr/1fr;
}
#copyright {
  font-family: cursive;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.78);
  justify-self: center;
  align-self: center;
}
/* FOOTER */
