<!-- Title in head -->
{%extends '_base.html'%} {%block title%}weather{%endblock%}
<!-- End title in head -->

<!-- name for header -->
{%block headerTitle%} Weather {%endblock%}
<!-- end name for header -->

<!--  -->

{%block content%}

<form action="/showweather/" method="get" id="SearchForm">
  <!-- <label for="fSearch">Searching</label> -->
  <input
    type="text"
    id="fSearch"
    name="cityname"
    placeholder="Search"
    class="fieldSearch"
  />
  <input type="submit" value="Search" class="btnSearch" />
</form>

<div class="main_background">
  <!-- {%for i in weather%}
    <p>{{i}}</p>
    {%endfor%} -->

  {{weather}}

  <!-- {%include 'partials/_nothing.html'%} -->
  <p class="not">{{not}}</p>

  {%endblock%}
</div>
<!--  -->
