{%extends '_base.html'%} {%block title%}weather{%endblock%}

<div>
  {%block content%}

  <form action="/showweather/" method="get" id="SearchForm">
    <!-- <label for="fSearch">Searching</label> -->
    <input
      type="text"
      id="fSearch"
      name="cityname"
      placeholder="Search"
      class="fieldSearch"
    />
    <input type="submit" value="Search" class="btnSearch" />
  </form>

  <br />

  <div>
    <!-- {%for i in weather%}
    <p>{{i}}</p>
    {%endfor%} -->

    {{weather}}
  </div>

  <!-- {%include 'partials/_nothing.html'%} -->
  <p class="not">{{not}}</p>

  {%endblock%}
</div>
