<!-- Title in head -->
{%extends '_base.html'%} {%block title%}weather{%endblock%}
<!-- End title in head -->

<!-- name for header -->
{%block headerTitle%} Weather {%endblock%}
<!-- end name for header -->

<!--  -->

{%block content%}

<form action="/showweather/" method="get" id="SearchForm">
  <!-- <label for="fSearch">Searching</label> -->
  <input
    type="text"
    id="fSearch"
    name="cityname"
    placeholder="City Name"
    class="fieldSearch"
  />
  <input type="submit" value="Search" class="btnSearch" />
</form>

<div class="main_grid">
  <div class="main_background enableBlur">
    <div class="inside_main_background disableBlur">
      <div class="show_weather">
        <!-- <p class="city_name">{{name}}</p> -->
        <p class="status">{{status}}</p>
        <p class="description">{{description}}</p>
        <!-- <p class="weather_icon">{{weather_icon}}</p> -->
        <p class="temp">{{temp}} <sup>o</sup> <span>C</span></p>
        <!-- <p class="speed_wind">{{speed_wind}}</p> -->
        <!-- <p class="degree_wind">{{degree_wind}}</p> -->

        <p class="not">{{not}}</p>
      </div>
    </div>
  </div>
</div>
{%endblock%}
<!--  -->
